/* You can add global styles to this file, and also import other style files */

/* Responsive - Media Query*/

/* Smartphones */
@media (min-width:300px) and (max-width: 599px) {
    .mat-horizontal-stepper-content {
        max-height: 210px;
    }
}

@media (min-width:600px) and (max-width: 950px) {
    .mat-horizontal-stepper-content {
        max-height: 210px;
    }
}

/* Normal screen */
@media only screen and (min-width: 600px) {
    .mat-horizontal-stepper-header {
        display: flex;
        height: 72px;
        overflow: hidden;
        align-items: center;
        padding: 0 10px;
    }

    .mat-stepper-horizontal {
        background-color: #3C454C;
        height: 62vh;
    }
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #01191d;
    /* background-color: white; */
}


.mat-horizontal-stepper-header {
    display: flex;
    height: 72px;
    overflow: hidden;
    align-items: center;
    padding: 0 14px;
}

/* .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
} */

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgb(0, 0, 0);
}

.mat-focused .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgb(0, 0, 0);
}

.mat-input-element {
    caret-color: #069e38;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    /* background-color: #88CF2A; */
    background-color: rgb(0, 200, 83);
    margin-right: 0px;
}

.mat-horizontal-stepper-header {
    height: 45px;
    width: 10px;
    padding: 0px;
    pointer-events: none;
}

.mat-icon {
    display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    padding-bottom: 0;
}

input.mat-input-element {
    margin-top: -0.0625em;
    color: black;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: black;
}

.mat-stepper-horizontal-line {
    display: none;
}

.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-horizontal-stepper-content {
    /* Mozda bi trebalo setati max-height: some value i overflow-y: auto; ili overflow: auto */
    height: 225px;
    overflow-y: auto;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: #c5cfb7;

}

::-webkit-scrollbar-thumb {
    /* background: #87aa59; */
    background: rgb(76, 122, 122);
}

::-webkit-scrollbar-thumb:hover {
    /* background: #88CF2A; */
    background: rgb(0, 200, 83);
}

/* .mat-horizontal-stepper-header {
    display: flex;
    height: 72px;
    overflow: hidden;
    align-items: center;
    padding: 0 10px;
} */
.mat-step-icon-content,
.mat-step-icon .mat-icon {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    display: none;
}

.mat-step-header .mat-step-icon {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    flex-shrink: 0;
    position: relative;
    margin-right: 0px;
}


::ng-deep .mat-horizontal-stepper-header-container {
    border: solid 1px red;
}