<div class="wrapper">
  <div class="logo-and-companyName">
    <div class="logo">
      <img src="../../../../assets/logoName.svg" />
    </div>
  </div>
  <div class="message-container">
    <div class="first-message">
      <h3 class="font-another">Thank you! Your form has been submitted.</h3>
    </div>
    <div class="second-message">
      <p>We will contact you shortly.</p>
    </div>
  </div>
  <div class="btn">
    <a routerLink="/">BACK TO HOME</a>
  </div>
  <hr />
  <div class="footer">
    <div class="title-footer">
      <h3 class="font-another">
        Contact <span style="color: #75dd58;">&#38;</span> Follow
      </h3>
    </div>
    <div class="company-email">
      <p>support@tech387.com</p>
    </div>
    <div class="icons">
      <div class="instagram">
        <a target="_blank" href="https://www.instagram.com/tech387/"
          ><img
            height="25px"
            width="30px"
            src="../../../../assets/icons/instagram.svg"
          />
        </a>
      </div>
      <div class="facebook">
        <a target="_blank" href="https://www.facebook.com/tech387/"
          ><img
            height="25px"
            width="30px"
            src="../../../../assets/icons/facebook.svg"
        /></a>
      </div>
      <div class="linkedin">
        <a
          target="_blank"
          href="https://www.linkedin.com/company/tech-387/?originalSubdomain=ba"
          ><img
            height="25px"
            width="30px"
            src="../../../../assets/icons/linkedin.svg"
        /></a>
      </div>
      <div class="youtube">
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCSwz9dhcnfxD1q9420vaDRg"
          ><img height="32px" src="../../../../assets/icons/youtube.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
